/* universal selector remove margin */
* {
    margin:0;
}
body {
    background-color:#212121;
    color:rgb(120, 196, 6);
}
.area-border {
    border: solid white;
}
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10vw repeat(4, 1fr) 10vw;
    grid-template-rows: 10vh 40vh 1fr;
    gap: 3vh 0;
    grid-template-areas:
    "nav nav nav nav nav nav"
    ". prof-pic prof-info prof-info prof-info ."
    ". posts posts posts posts ."
    ". . . . . ."
    
}
.nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    background-color: #c9c9c9;
}
.nav-links > a {
    text-decoration: none;
    color: black;
}
.nav-links >a:hover {
    font-size: larger;
    color:#e6e6e6;

}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}
.prof-pic {
    grid-area: prof-pic;
    align-self: center;
    
}
.image-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    margin: auto;
}
.contact {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#prof-img {
    display: grid;
    /* justify-content: end; */
    max-height: 18%;

}
.area-border {
    border: 2px white;
}
.prof-info {
    grid-area: prof-info;
}
.info-container {
    height: 100%;
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.posts {
    grid-area: posts;
}